@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

// general/resets
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.my-fluid {
    width: 100%;
    display: block;
}

header {
    background-color: $brand_primary;
    
}

#home_movies {
    background-color: $brand_tertiary;
    padding: 50px 0;
    h2 {
        font-size: 3em;
        margin: 0;
    }
    h3 {
        text-align: center;
        font-size: 1.3em;
        padding: 15px 0;
    }
}

#movies {
    background-color: $brand_tertiary;
    padding: 50px 0;
    h2 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    h3 {
        padding: 10px 0;
        margin: 0;
        text-align: center;
        background-color: $brand_secondary;
    }
    h4 {
        font-size: 1.2em;
        margin: 0;
        text-align: center;
    }
    .my_card {
        background-color: $brand_fourth;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
footer {
    background-color: $brand_secondary;
    padding: 20px 0;
    li {
        padding: 0 10px;
        i {
            font-size: 2em;
        }
    }
}
